html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0B0C10;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    position: fixed;
    background-color: black;
    height: 90px;
    width: 100%;
    box-shadow: 0px 3px 50px black;
    color: #45A29E;
    z-index: 1;
    transition: all 0.5s ease;
}
.judul{
    display: flex;
    font-family: 'Great Vibes', cursive;
    margin-left: 20px;
    align-items: center;
    font-size: 40px;
    z-index: 1;
}
.judul span{
    display: inline-block;
    transition: all 0.3s ease;
    cursor: default;
}
.judul span:hover{
    transform: skewX(-5deg) translateY(-5px);
    color: #00fff2;
}
nav ul{
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 20px;
}
nav ul li{
    margin-right: 15px;
    display: flex;
}
nav ul li a{
    color: #45A29E;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: #00fff2;
    transform: skewX(-3deg) translateY(-3px);
}
nav ul li a:focus{
    color: #017973;
    transform: skewX(-2deg) translateY(-2px);
}
nav .menu{
    display: none;
}
#home{
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#home .gambarAdi{
    height: 300px;
    width: 290px;
    border-radius: 50%;
    filter: brightness(65%);
    transition: all 0.5s ease;
}
#home .perkenalan{
    margin-left: 10px;
    width: 400px;
}
#home .perkenalan h2 span{
    color: #45A29E;
}
#home .perkenalan h4{
    margin-top: 5px;
    color: #489996;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px;
    box-sizing: border-box;
}
#about h2{
    color: #45A29E;
    text-decoration: overline;
    margin-bottom: 30px;
}
.halamanAbout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.halamanAbout p{
    font-size: 17px;
}
.halamanAbout .tentang{
    width: 800px;
    height: 400px;
    overflow: auto;
    padding: 30px;
    border-radius: 15%;
    box-sizing: border-box;
    background-color: #17181d;
}

#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-left: 10px;
    box-sizing: border-box;
}
#project h2{
    color: #45A29E;
    text-decoration: overline;
    margin-bottom: 30px;
}
.halamanProject{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.halamanProject p{
    font-size: 17px;
}
.halamanProject .catatan{
    width: 500px;
    height: 400px;
    overflow: auto;
    padding: 30px;
    border-radius: 15%;
    box-sizing: border-box;
    background-color: #17181d;
}
.halamanProject .catatan span{
    color: #50a8a4;
    cursor: pointer;
    transition: all 0.5s ease;
}
.halamanProject .catatan span:hover{
    color: #6ee0db;
}

#contact{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#contact h2{
    color: #45A29E;
    text-decoration: overline;
    margin-bottom: 30px;
}
.kontakKu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 15%;
    box-sizing: border-box;
    background-color: #17181d;
}
.ig{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.ig:hover{
    transform: skewX(-5deg) translateY(-5px);
}
#contact .kontakKu .ig h2{
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: 5px;
}
#gambarIg{
    font-size: 50px;
}
.gmail{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.gmail:hover{
    transform: skewX(-5deg) translateY(-5px);
}
#contact .kontakKu .gmail h2{
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: 5px;
}
#gambarGmail{
    font-size: 50px;
}
.whatsapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.whatsapp:hover{
    transform: skewX(-5deg) translateY(-5px);
}
#contact .kontakKu .whatsapp h2{
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: 5px;
}
#gambarWhatsapp{
    font-size: 50px;
}
#contact .kontakKu .spasi{
    height: 25px;
}
.copyright{
    text-align: center;
}

@media screen and (max-width: 824px){
    .halamanAbout .spasi{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    nav ul{
        flex-direction: column;
        position: fixed;
        justify-content: space-around;
        height: 100vh;
        right: -5px;
        width: 50%;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.8s ease;
    }
    nav .menu{
        display: flex;
        justify-content: space-around;
        height: 30px;
        position: fixed;
        top: 25px;
        right: 25px;
        flex-direction: column;
    }
    nav .menu span{
        background-color: white;
        width: 30px;
        height: 5px;
        transition: all 0.5s ease;
    }
    nav ul li{
        display: none;
        transform: translateX(200px);
        transition: all 0.5s linear;
    }
    .halamanAbout .tentang{
        width: 100%;
    }
    .halamanAbout p{
        font-size: 11px;
    }
}
